<nav class="desktop-nav" role="navigation" [attr.aria-label]="'header.nav_aria' | translate">
  <ul class="nav-list">
    <li>
      <a routerLink="/" class="nav-link">{{ 'header.nav.home' | translate }}</a>
    </li>

    <li class="dropdown-root" [class.is-open]="isCategoriesOpen()">
      <button
        class="nav-link dropdown-trigger"
        aria-haspopup="true"
        [attr.aria-expanded]="isCategoriesOpen()"
        (click)="toggleCategories()"
        (keydown)="onKeyDown($event)"
      >
        {{ 'header.nav.categories' | translate }}
        <app-icon name="chevron-down" class="nav-icon nav-icon--down"></app-icon>
      </button>

        <ul class="dropdown">
          @for (cat of categories(); track cat.id) {
            <li class="sub-root">
              <a [routerLink]="cat.href" class="dropdown-link">
                <span>{{ 'categories.' + cat.id | translate }}</span>
                <app-icon name="chevron-right" class="nav-icon nav-icon--right"></app-icon>
              </a>
              <ul class="subdropdown">
                @for (sub of cat.subcategories; track sub.href) {
                  <li>
                    <a [routerLink]="['/category', cat.id, getFragment(sub.href)]" class="sublink">
                      {{ sub.name }}
                    </a>
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
    </li>

    <li>
      <a routerLink="/offers" class="nav-link">{{ 'header.nav.offers' | translate }}</a>
    </li>
  </ul>
</nav>
